<script src="javascripts/forgot.js"></script>
<link rel='stylesheet' href="/stylesheets/forgot.css"/>
<div class="main">
    <div class="shop_top">
        <div class="container">
            <form id="forgotForm">
                <div class="forgot-top-grid">
                    <h3>RESET PASSWORD</h3>
                    <div>
                        <span>Email Address<label>*</label></span>
                        <input type="email" id="email" name="email" required />
                        <span id="email-validity"></span>
                    </div>
                </div>
                <div class="clear"> </div>
                <input id="forgotSubmit" type="submit">
            </form>
            <h5 id="forgotAlert" class="below-forgot-grid"></h5>
        </div>
    </div>
</div>