<link rel='stylesheet' href="/stylesheets/bootstrap.css" />
<link rel='stylesheet' href="/stylesheets/reset.css" />
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/reset.js"></script>
<div class="main">
    <div class="container">
        <form id="resetForm">
            <div class="row">
                <div class="col text-center">
                    <h4>New password</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="password" name="password" id="password" required />
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h4>Retype password</h4>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <input type="password" name="retype" id="retype" required />
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <span id="resetAlert"></span>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <span id="passwordAlert"></span>
                </div>
            </div>
            <div class="row">
                <div class="submit-place text-center">
                    <button id="resetSubmit" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>