<link rel="stylesheet" href="../stylesheets/bootstrap.css">
<container>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                This link is invalid
            </div>
        </div>
    </div>
</container>