<link rel="stylesheet" href="../stylesheets/bootstrap.css">
<container>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                You have successfully activated your account. Please click this link to <span><a href="/login">login</a>
                    </span< /h3>
            </div>
        </div>
    </div>
</container>